body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#about-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
    z-index: 9999;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    background-color: white;
    margin: 10px 0;
    font-size: 16px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

#about-window p {
    margin: 10px 0;
    font-size: 16px;
    text-align: center;
}

#stats-panel {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: left;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-size: 14px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

#taskbar {
    background-color: #f4f4f4;
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
}

#start-button {
    background-color: #0078d7;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

#start-menu {
    position: absolute;
    bottom: 40px;
    left: 10px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#start-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#start-menu ul li {
    padding: 10px;
    cursor: pointer;
}

#start-menu ul li:hover {
    background-color: #f0f0f0;
}

#table-view {
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow-x: auto;
}

.hidden {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

.window {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 600px;
    height: 400px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    resize: both;
    overflow: hidden;
    z-index: 1001;
}

#desktop {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: hsl(188, 100%, 42%);
}

.window-header {
    background-color: #0078d7;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    cursor: move;
}

.window-controls button {
    background: none;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.window-controls button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.window-content {
    flex-grow: 1;
    overflow: auto;
    padding: 10px;
}

/* Hidden class */
.hidden {
    display: none;
}